/* CSS default styles */

* {
	box-sizing: border-box;
}

td::selection,
th::selection,
span::selection {
	background: none;
}

html, 
body {
  	height: 100%;
}

body {
	font: Helvetica, Arial, sans-serif;
	 background-image: url(../Images/mainBackground1920.jpg); 
	color: #333;
}

#body {
	max-height: 100%;
	position: relative;
}

p, td, th, caption {
	cursor: default !important;
}

.clearfix::after {
	display: block;
	content: "";
	clear: both;
}

.wrapper,
#enemyDestroyedShips {
	position: relative;
}

/* CSS Default Styles */


/* Header and Languages Styles */

#header {
	position: relative;
	background: #FF5500;
	padding: 15px 10px;
	height: 64px;
}

#header .logo {
	width: auto;
	position: absolute;
	left: 50%;
	margin-left: -74px;
}

#header .logo span {
	font-weight: bold;
	color: #FFFFFF;
	margin: 0;
	font-size: 24px;
	text-transform: uppercase;
}

.languages > ul {
  	position: relative;
  	list-style: none;
  	padding: 0;
  	margin: 0;
  	left: 25%;
  	top: -15px;
  	float: left;
}

.languages ul li {
  	position: relative; 
  	cursor: pointer;
}

.languages ul > li {
  	display: block;
}

.languages ul li span {
 	padding: 0 20px;
 	height: 64px;
 	color: #fff;
}

.languages > ul > li > ul {
  	position: absolute;
  	z-index: 2;
  	left: -12px;
  	top: 64px;
  	padding: 0;
  	margin: 0;
  	list-style: none;
  	display: block;

}

.languages > ul > li:hover > ul {
            box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.25);
       -moz-box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.25);
  	-webkit-box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.languages > ul > li:hover > ul li span {
  	opacity: 1;
  	height: 45px;
            transition: all .1s linear;
         -o-transition: all .1s linear;
       -moz-transition: all .1s linear;
  	-webkit-transition: all .1s linear;
}

.languages > ul > li > ul span {
  	display: block;
  	text-decoration: none;
  	color: #f60;
  	width: 150px;
  	line-height: 50px !important;
  	background: #fff;
  	border-bottom: 1px solid #ddd;
  	text-align: center;
  	padding: 0 5px;
  	height: 0;
  	overflow: hidden;
  	opacity: 0;
            transition: all .1s linear .1s;
         -o-transition: all .1s linear .1s;
       -moz-transition: all .1s linear .1s;
  	-webkit-transition: all .1s linear .1s;
}

.languages > ul > li > ul > li:hover span {
	font-weight: bolder;
}

.languages > ul > li {
  	float: left;
  	position: relative;
}

.languages > ul > li > span {
  	padding: 0 20px;
  	color: #fff;
  	display: block;
  	line-height: 64px !important;
  	text-transform: uppercase;
  	text-decoration: none;
}

/* Header and Languages Styles */


/* FormStartGame's styles */

#startForm {
	position: absolute;
	top: 425px;
	left: 50%;
	margin-top: -65px;
	margin-left: -200px;
    font: Helvetica, Arial, sans-serif;
    font-size: 15px;
    width: 400px;
    padding: 16px;
    background: #F7F7F7;
          box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.25);
       -o-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.25);
}

#startForm input[type="text"] {
    outline: none;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
    	 	box-sizing: border-box;
   	   -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    	 -o-transition: all 0.30s linear;
    	-ms-transition: all 0.30s linear;
       -moz-transition: all 0.30s linear;
    -webkit-transition: all 0.30s linear;
}

#startForm input[type="text"]:focus {
    box-shadow: 0 0 5px #FF5500;
    padding: 3%;
    border: 1px solid #FF1100;
}

#startForm input[type="button"], 
#game input[type="button"] {
    font-weight: bold;
    width: 100%;
    padding: 3%;
    background: #FF5500;
    border-bottom: 2px solid #FF3300;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;    
    color: #fff;
    		box-sizing: border-box;
       -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#startForm input[type="button"]:hover,
#game input[type="button"]:hover {
    background: #FF3300;
}

/* FormStartGame's Styles*/



/* Game's Styles */

#game .middleWrapper #newgame {
	display: none;
}

#game {
	position: relative;
	top: 75px;
	margin: 0 auto;
	padding: 25px;
	min-width: 960px;
	max-width: 960px;
	margin-bottom: 135px;
	        transition: all 0.25s ease;
         -o-transition: all 0.25s ease;
       -moz-transition: all 0.25s ease;
  	-webkit-transition: all 0.25s ease;
}

/* Battle fields' styles */

#game table caption {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	color: #000;
}

#game table tr th,
#game table tr td {
	width: 30px;
	height: 30px;
	font-weight: 400;
	text-align: center;
}

#game table tr td {
	border: 1px solid #d1d1d1;
	background-color: #fff;
			transition: background-color 0.25s linear;
		 -o-transition: background-color 0.25s linear;
	   -moz-transition: background-color 0.25s linear;
	-webkit-transition: background-color 0.25s linear;
}

#game #userTable tr td.userCell:hover {
	cursor: pointer !important;
}

#game table tr th {
	text-transform: uppercase;
	border-bottom: 1px solid #000;
}

#game table tr:last-child td {
	border-bottom: 1px solid #000;
}

#game table tr td:first-child {
	border-left: 1px solid #000;
}

#game table tr td:last-child {
	border-right: 1px solid #000;
}
#game .tr td:first-child {
	position: relative;
}

#game .tr td:first-child::before {
	font-size: 15px;
	position: absolute;
	line-height: 30px;
	left: -25px;
	top: 0;
}

#game .row1 td:first-child::before {
	content: "1";
}

#game .row2 td:first-child::before {
	content: "2";
}

#game .row3 td:first-child::before {
	content: "3";
}

#game .row4 td:first-child::before {
	content: "4";
}

#game .row5 td:first-child::before {
	content: "5";
}

#game .row6 td:first-child::before {
	content: "6";
}

#game .row7 td:first-child::before {
	content: "7";
}

#game .row8 td:first-child::before {
	content: "8";
}

#game .row9 td:first-child::before {
	content: "9";
}

#game .row10 td:first-child::before {
	content: "10";
	left: -30px;
}

/* -------------- */

#game #enemyDestroyedShips {
	margin-left: 15px;
}

#game #enemyDestroyedShips .row {
	position: relative;
	margin: 0px;
	margin-bottom: 5px;
	max-width: 120px;
	padding: 0px;
			box-sizing: border-box;
   	   -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#game #enemyDestroyedShips tr.row td.hey:last-child {
	border-right: 1px solid #000;
}

#game #enemyDestroyedShips .row3 {
	max-width: 90px;
}

#game #enemyDestroyedShips .row2 {
	max-width: 60px;
}

#game #enemyDestroyedShips .row1 {
	max-width: 30px;
}

/* The available ship's styles */

#game #enemyDestroyedShips .row .col {
	display: inline-block;
	border-right: 1px solid #d1d1d1;
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
	background-color: #fff;
	width: 30px;
	height: 30px;
	margin: 0px;
	padding: 0px;
			box-sizing: border-box;
   	   -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;

}

#game #enemyDestroyedShips .row .col:first-child {
	border-left: 1px solid #000;
}

#game #enemyDestroyedShips .row .col:last-child {
	border-right: 1px solid #000;
}

#game #enemyDestroyedShips .row:hover .col:last-child {
	border-right: 1px solid #000;
}

/* The available ship's styles */

#game #enemyDestroyedShips p {
	position: absolute;
	line-height: 30px;
	margin: 0;
	padding: 0;
}

#game #enemyDestroyedShips #p1 {
	top: 0;
	left: 120px;
}

#game #enemyDestroyedShips #p2 {
	top: 35px;
	left: 90px;
}

#game #enemyDestroyedShips #p3 {
	top: 70px;
	left: 60px;
}

#game #enemyDestroyedShips #p4 {
	top: 105px;
	left: 30px;
}

span.score,
span.xtext {
	text-transform: uppercase;
	font-weight: 500;
}

span.xtext {
	margin: 0 15px;
	font-size: 15px;
}

span.score {
	font-size: 16px;
}

/* -------------- */

.middleWrapper {
	position: absolute;
	top: 80px;
	width: 200px;
	display: inline-block;
	margin-left: 50px;
	margin-top: -50px;
}

#game .middleWrapper input[type="button"] {
	width: 200px;
	height: 50px;
	padding: 11px;
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 16px;
}

.battleField {
	display: inline-block;
	position: relative;
}

#enemyField {
	float: right;
}

#userField {
	float: left;
}

#game #hints {
	margin-top: 50px;
	margin-left: -8px;
}

#game #hints p {
	text-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
	text-align: center;
}

#game .userInterface,
#game .botLevel {
	float: left;
	margin: 10px 0px;
	padding: 0;
}

#game .botLevel {
	float: right;
}

#game .userInterface ul, 
#game .botLevel ul {
	margin: 0;
	padding: 0;
}

#game .userInterface ul li, 
#game .botLevel ul li {
	list-style: none;
	display: inline-block;
	color: #18f;
	margin-left: 45px;
	margin-right: 15px;
}

#game .botLevel ul li {
	margin-left: 0px;
	margin-right: 45px;
}

#game .botLevel ul li:last-child {
	margin-right: 30px;
}

#game .userInterface ul::selection, 
#game .userInterface ul li::selection, 
#game .userInterface ul li span::selection,
#game .botLevel ul::selection, 
#game .botLevel ul li::selection, 
#game .botLevel ul li span::selection {
	background: none;
}

#game .userInterface ul li:hover, 
#game .botLevel ul li:hover {
	text-decoration: underline;
	cursor: pointer;
}

#game .userInterface ul li #reset::before {
	content: url(../Images/reset.png);
	margin-right: 3px;
}

#game .userInterface ul li #randomise::before {
	content: url(../Images/randomise.png);
	margin-right: 4px;
}

#game .botLevel ul li #easy::before {
	content: url(../Images/easy.png);
	margin-right: 3px;
}

#game .botLevel ul li #medium::before {
	content: url(../Images/medium.png);
	margin-right: 3px;
}

#game .botLevel ul li #hard::before {
	content: url(../Images/hard.png);
	margin-right: 3px;
}

#game .botLevel ul li span.active {
	font-weight: bold;
}

#game #enemyField table.hoverActive tr td.cell:hover {
	cursor: pointer !important;
	background-color: #ddd;
			transition: background-color 0.15s linear;
		 -o-transition: background-color 0.15s linear;
	   -moz-transition: background-color 0.15s linear;
	-webkit-transition: background-color 0.15s linear;
}

#game #enemyField table tr td.miss::after,
#game #userField table tr td.miss::after {
	content: "\2022";
	color: #888;
}

#game #enemyField table tr td.miss:hover {
	cursor: default !important;
}

#game #enemyField #enemyTable tr td.hit,
#game #userField #userTable tr td.hit {
	background-color: red;
}

#game #enemyDestroyedShips p#heading {
	position: absolute;
	font-size: 16px;
	top: -50px;
	display: none;
	text-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
}

/* Game's Styles */

#didyouknow {
	padding: 15px 50px 40px;
	width: 900px;
	margin: 0 auto;
	border: 1px solid #18f;
	box-shadow: 0 0 5px #1af;
	border-radius: 10px;
	display: none;
}

#didyouknow h3 {
	text-align: left;
	margin-left: 40px;
	margin-bottom: 20px;
  	text-transform: uppercase;
  	text-rendering: optimizeLegibility; 
	color: #18f;
    letter-spacing: .05em;
    text-shadow: 
      2px 2px 0px #fff, 
      4px 4px 0px rgba(0, 0, 0, 0.2);
     cursor: pointer;
}

#didyouknow h3::selection {
	background: none;
}

#didyouknow p {
	text-indent: 40px;
	font-size: 14px;
	text-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
}

#game {
	display: none;
}

#audio {
	position: absolute;
	right: 25%;
}

#audio img {
	display: inline-block;
	margin-right: 10px;
	width: 18px;
	height: auto;
	cursor: pointer;
}

#audio img:nth-child(3) {
	width: 11px;
}

#audio img:last-child {
	margin-right: 0;
}

#audio input {
	margin-top: 10px;
	width: 110px;
}

input[type=range].volume {
	width: 100%;
	height: 4px;
	margin: 3.5px 0;
	-webkit-appearance: none;
}

input[type=range].volume:focus {
	outline: none;
}

input[type=range].volume::-webkit-slider-runnable-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: #ffffff;
	border-radius: 4.7px;
	border: 0px solid #010101;
}

input[type=range].volume::-webkit-slider-thumb {
	box-shadow: 0px 0px 15px rgba(0, 160, 255, 0), 0px 0px 0px rgba(26, 169, 255, 0);
	border: 1px solid #ffffff;
	height: 9px;
	width: 9px;
	border-radius: 50px;
	background: #0096ff;
	cursor: pointer;
	margin-top: -3.5px;
	-webkit-appearance: none;
}

input[type=range].volume:focus::-webkit-slider-runnable-track {
	background: #ffffff;
}

input[type=range].volume::-moz-range-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: #ffffff;
	border-radius: 4.7px;
	border: 0px solid #010101;
}

input[type=range].volume::-moz-range-thumb {
	box-shadow: 0px 0px 15px rgba(0, 160, 255, 0), 0px 0px 0px rgba(26, 169, 255, 0);
	border: 1px solid #ffffff;
	height: 9px;
	width: 9px;
	border-radius: 50px;
	background: #0096ff;
	cursor: pointer;
}

input[type=range].volume::-ms-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

input[type=range].volume::-ms-fill-lower {
	background: #e0e0e0;
	border: 0px solid #010101;
	border-radius: 9.4px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range].volume::-ms-fill-upper {
	background: #ffffff;
	border: 0px solid #010101;
	border-radius: 9.4px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range].volume::-ms-thumb {
	box-shadow: 0px 0px 15px rgba(0, 160, 255, 0), 0px 0px 0px rgba(26, 169, 255, 0);
	border: 1px solid #ffffff;
	height: 9px;
	width: 9px;
	border-radius: 50px;
	background: #0096ff;
	cursor: pointer;
	height: 2px;
}

input[type=range].volume:focus::-ms-fill-lower {
	background: #ffffff;
}

input[type=range].volume:focus::-ms-fill-upper {
	background: #ffffff;
}

/* MEDIA REQUIRES */

@media all and (max-height: 900px)  {
	#game {
		top: 10px;
		margin: 0 auto;
		padding: 25px;
		min-width: 960px;
		max-width: 960px;
		margin-bottom: 50px;
	}

	#startForm {
		top: 350px;
	}
}

@media all and (max-height: 767px), all and (max-width: 970px) {
	#game img.audio {
		top: 0px;
		left: 90px;
	}

	#game .middleWrapper input[type="button"] {
		width: 180px;
		height: 46px;
		padding: 11px;
		margin-top: 25px;
		margin-bottom: 40px;
	}

	#game {
		top: 0px;
		padding: 25px;
		padding-top: 5px;
		min-width: 850px;
		max-width: 850px;
		margin-bottom: 35px;
	}

	#game table caption {
		font-size: 24px;
	}	

	#game table tr th,
	#game table tr td {
		width: 25px;
		height: 25px;
		font-weight: 400;
		text-align: center;
	}

	#game #enemyDestroyedShips {
		margin-left: 10px;
	}

	#game #enemyDestroyedShips .row {
		position: relative;
		margin: 0px;
		margin-bottom: 5px;
		max-width: 100px;
	}

	#game #enemyDestroyedShips tr.row td.hey:last-child {
		border-right: 1px solid #000;
	}

	#game #enemyDestroyedShips .row3 {
		max-width: 75px;
	}

	#game #enemyDestroyedShips .row2 {
		max-width: 50px;
	}

	#game #enemyDestroyedShips .row1 {
		max-width: 25px;
	}

	#game #enemyDestroyedShips .row .col {
		width: 25px;
		height: 25px;
	}

	#game #enemyDestroyedShips p {
		position: absolute;
		line-height: 25px;
		margin: 0;
		padding: 0;
	}

	#game #enemyDestroyedShips #p1 {
		top: 0px;
		left: 100px;
	}

	#game #enemyDestroyedShips #p2 {
		top: 31px;
		left: 75px;
	}

	#game #enemyDestroyedShips #p3 {
		top: 61px;
		left: 50px;
	}

	#game #enemyDestroyedShips #p4 {
		top: 91px;
		left: 25px;
	}

	span.xtext {
		margin: 0 10px;
		font-size: 15px;
	}

	span.score {
		font-size: 16px;
	}

	#didyouknow {
		top: 0;
		padding: 5px 50px 25px;
		width: 760px;
	}

	#didyouknow h3 {
		font-size: 22px;
		margin-left: 30px;
		margin-bottom: 15px;
	    text-shadow: 
	      2px 2px 0px #fff, 
	      4px 4px 0px rgba(0, 0, 0, 0.2);
	}

	#didyouknow p {
		text-indent: 30px;
		font-size: 14px;
		text-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
	}

	#game #hints {
		font-size: 13px;
	}

	#game .userInterface,
	#game .botLevel {
		margin: 10px 0px;
	}

	#game .userInterface ul li {
		margin-left: 25px;
		margin-right: 15px;
	}

	#game .userInterface ul li:first-child {
		margin-left: 30px;
	}

	#game .botLevel ul li {
		margin-left: 0px;
		margin-right: 25px;
	}

	#game .botLevel ul li:last-child {
		margin-right: 20px;
	}

	#game .userInterface ul::selection, 
	#game .userInterface ul li::selection, 
	#game .userInterface ul li span::selection,
	#game .botLevel ul::selection, 
	#game .botLevel ul li::selection, 
	#game .botLevel ul li span::selection {
		background: none;
	}

	#game #audio {
		left: 40px;
	}
}